{% extends 'base.html' %}
    {% block title %}
        <title>Details - ToDo Application</title>
    {% endblock %}

{% block content %}

    <div class="container-fluid">
      <div class ="row">
        <div class="col-md-12">
          <div class="banner">
            <div class="banner-text">
              <h1>My ToDo Application</h1>
            </div>
          </div>
        </div>
      </div>
    </div> <br><br>
    <div class="container">
        <div class="row" style="justify-content: center">
            <div class="col-md-6">
                <div class="shadow card bg-dark bg-gradient text-white mb-3" >
                    <div class="card-body">
                        <h5 class="card-title">{{task.name}}</h5>
                        <p class="card-text">{{task.priority}}</p>
                        <p class="card-text">{{task.date}}</p>
                        <a href="{% url 'cbvdelete' task.id %}" class="btn btn-danger">Done</a>
                        <a href="{% url 'cbvupdate' task.id %}" class="btn btn-success">Update</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}