{% extends 'base.html' %}
    {% block title %}
        <title>To Do Application</title>
    {% endblock %}

{% block content %}

    <div class="container-fluid">
      <div class ="row">
        <div class="col-md-12">
          <div class="banner">
            <div class="banner-text">
              <h1>My ToDo Application</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
          <div class="col-md-6 ">
              <br><h2> Create Task:</h2>
              <form method='POST' class="p-3 shadow">
                {% csrf_token %}
                <div class="form-group">
                    <br> <br>
                    <label for="task" class="form-label">Task Name</label>
                    <input type="text" class="form-control" name="task" placeholder="Task Name">
                    <br>
                </div>
                <div class="form-group">
                    <label for="priority" class="form-label">Priority</label>
                    <input type="text" class="form-control" name="priority" placeholder="Enter your priority">
                    <br>
                </div>
                  <div class="form-group">
                    <label for="date" class="form-label">Date</label>
                    <input type="date" class="form-control" name="date" placeholder="Enter Date">
                    <br>
                  </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-success">
                </div>
                  <br> <br>
              </form>
          </div>
          <div class="col-md-6">
              <br><h2>Task Details:</h2>
                <div class="row">
                    {% for i in task_details %}
                    <div class="col-md-6">
                        <div class="shadow card bg-dark bg-gradient text-white mb-3" >
                          <div class="card-body">
                            <h5 class="card-title">{{i.name}}</h5>
                            <p class="card-text">{{i.priority}}</p>
                              <p class="card-text">{{i.date}}</p>
                            <a href="{% url 'delete' i.id %}" class="btn btn-danger">Done</a>
                            <a href="{% url 'edit' i.id %}" class="btn btn-success">Update</a>
                          </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
          </div>
      </div>
    </div>


{% endblock %}